* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.fetch-buttons {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

a {
  text-decoration: none;
  color: #000;
}

.post {
  background: linear-gradient(45deg, #f1d2b0, #f3bf88);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.post-body {
  color: #666;
  margin: 0;
}

.button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ee2929;
}

.edit-btn {
  padding: 10px 20px;
  background-color: #167086;
  color: #fff;
  height: 100%;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #135d70;
}

.delete-edit-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button--success {
  background-color: #4CAF50;
}

.button--success:hover {
  background-color: #45a049;
}


.button--danger {
  background-color: #7a0916;
}

.button--danger:hover {
  background-color: #64010bf4;
}