.home__main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home__main-container {
    display: flex;
}
.home__main__text-content {
    text-align: center;
    
}

.colored {
    color: var(--color-primary)
}

.home__main__heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    margin-bottom: 0;
}

.home__main__img-content > img {
   max-width: 100%;
   border-radius: 50%;
}

.background-icon {
    position: absolute;
    top: 0;
    right: -7%;
    color:  var(--color-secondary);
    font-size: 12rem;
   
    
}

.background-icon-text {
   position: absolute;
   font-size: 10rem;
   left: -7%;
   bottom: 0;
   color:  var(--color-secondary);
   z-index: -22;
}

.home__main__img-content, .home__main__text-content {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.discover-btn {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-light);
    background-color: var(--color-primary);
    padding: 15px 25px;
    border-radius: 4px;
    min-width:48px;
    width: 28%;
    margin: auto;
    display: block;
    margin-top: 25px;

}

.discover-btn:hover {
    background-color: var(--color-hover);
}

.logo-sm {
    display: none;
}

@media all and (max-width: 768px) {

    .home__main__img-content {
        display: none;
    }

    .logo-sm {
        display: flex;
        width: 100%;
        color: var(--color-primary);
        font-size: 5rem;
    }

    .home__main__heading {
        font-size: 3.5rem;
    }

    .discover-btn {
        font-size: 16px;
        padding: 10px 20px;
        width: 40%;
    }

}