* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f3;
  font-family: Arial, sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content:flex-start
  align-items: center;
  box-sizing: border-box;
  background-color:azure;
}

.header {
  background-color: #006c67;
}
.sidebar-left {
  background-color: #003844;
}
.sidebar-right {
  background-color: #ffb100;
}
.content {
  background-color: #ffebc6;
}
.footer {
  background-color: #006c67;
}

.content > div {
  height: 300px;
}

.container {
  width: 100vw;
  height: 100vh;
}