.recipe-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    color: #FFA53D;
}

.newRecipe-submitBtn {
padding: 10px 20px;
}

.error-message {
    color : #850404;
    font-size: 14px;
}