.registration-form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
  }
  .registration-form button{
    padding: 5px 0px;
    border: none;
    border-radius: 9px;
    background-color: #362617;
    color: #FFA53D;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }
