.grey {
  background-color: grey;
} 

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}

.recipes__list {
  list-style-type: none;
  padding-left: 0;
}

.recipe__list > li {
border-bottom: 1px solid var(--color-light);
display: flex;
justify-content: space-between;
margin: 10px auto;
}

