.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form > label {
    color: #FFA53D;
    font-weight: 700;
    font-size: 18px;
}

.form > button {
    border: none;
    padding: 10px 0px;
    border-radius: 12px;
    background-color: #FFC439;
    color: #009CDE;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #FFC439;
}

.form > input {
    border-radius: 9px;
    height: 30px;
}