* {
  box-sizing: border-box;
}

body {
  background-color: #f1f2f3;
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  background-color: #006c67;
  grid-column: 1 / span 3;
}
.sidebar-left {
  background-color: #003844;
  grid-row: 2 / -1;
}
.sidebar-right {
  background-color: #ffb100;
}
.content {
  background-color: #ffebc6;
}
.footer {
  background-color: #006c67;
  grid-column: 2 / -1;
}

.content > div {
  height: 300px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px 1fr 500px;
}